

<div class="ui-widget ui-corner-all">
	<div class="ui-widget-content ui-corner-bottom" >
		<div id="graph"></div>
	</div>
</div>	

<div id="controls">
	<ul class="buttons">
		<li data-ref="/start" onclick="">Start</li>
		<li data-ref="/stop" onclick="">Stop</li>
		<li data-ref="/calibration" onclick="">Calibration</li>
		<li data-ref="/spectrogram" onclick="">Spectrogram</li>
	</ul>
</div>

<div id="hostip" data-hostip="<%= @host_ip %>"/>
	
<div id='spectrogram'></div>
	
