<div class="ui-widget ui-corner-all">
	<div class="ui-widget-content ui-corner-bottom" >
		<div id="graph"></div>
	</div>
</div>	

<div id="controls">
	<ul class="buttons">
		<li data-ref="/start">Start</li>
		<li data-ref="/stop">Stop</li>
		<li data-ref="/test/1/normal">Zoom #1</li>
		<li data-ref="/test/8/normal">Zoom #8</li>
	</ul>
	<ul class="buttons">
		<li data-ref="/test/1/diff">Difference</li>
		<!-- <li data-ref="/test/1/average">Average</li> -->
		<li data-ref="/test/2/diff">Zoom #2</li>
		<li data-ref="/test/2/diff">Zoom #4</li>
		<li data-ref="/test/8/diff">Zoom #8</li>
	</ul>
</div>

<div id="hostip" data-hostip="<%= @host_ip %>">
	
</div>