<!DOCTYPE html>
<html>
<head>
  <title>Powerails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jqplot.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/shCoreDefault.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/shThemejqPlot.css" />
	<link rel="Stylesheet" type="text/css" href="/stylesheets/jquery-ui-1.8.21.custom.css" /> 

	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jqplot.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/shCoreDefault.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/shThemejqPlot.min.css" />
	<link rel="Stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css"  /> 
	<link rel="stylesheet" type="text/css" href="/stylesheets/examples.min.css" /> -->



	<script type="text/javascript" src="/javascript/jquery.min.js"></script>
	<script type="text/javascript" src="/javascript/jquery.jqplot.min.js"></script>

	<script type="text/javascript" src="/javascript/syntaxhighlighter/shCore.min.js"></script>
	<script type="text/javascript" src="/javascript/syntaxhighlighter/shBrushJScript.min.js"></script>
	<script type="text/javascript" src="/javascript/syntaxhighlighter/shBrushXml.min.js"></script>

	<script type="text/javascript" src="/javascript/plugins/jqplot.barRenderer.min.js"></script>
	<script type="text/javascript" src="/javascript/plugins/jqplot.categoryAxisRenderer.min.js"></script>
	<script type="text/javascript" src="/javascript/plugins/jqplot.logAxisRenderer.min.js"></script>
	<script type="text/javascript" src="/javascript/plugins/jqplot.cursor.min.js"></script>
	<script type="text/javascript" src="/javascript/plugins/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="/javascript/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
	<script type="text/javascript" src="/javascript/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
  
	<script type="text/javascript" src="/javascript/plugins/jqplot.highlighter.min.js"></script>
	<script type="text/javascript" src="/javascript/plugins/jqplot.canvasOverlay.min.js"></script>

	<script type="text/javascript" src="/javascript/plugins/jqplot.dateAxisRenderer.min.js"></script>
	<script type="text/javascript" src="/javascript/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>


  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
	<div id="content">
		<div id="header">
			
		</div>
		
		<div id="main">
			<%= yield %>    
		</div>
		
		<div id="footer">
			&copy; Powerplant FFT 2012
		</div>
	</div>
</body>
</html>
