/*p {
    margin: 2em 0;
}

.jqplot-image-button {
    margin-bottom: 15px;
    margin-top: 15px;
}

div.jqplot-image-container {
    display: none;
    background-color: #fff;
    border: 1px solid #999;
    display: inline-block;
    margin-top: 25px;
}

div.jqplot-image-container-header {
    font-size: 1.0em;
    font-weight: bold;
    padding: 5px 15px;
    background-color: #eee;
}

div.jqplot-image-container-content {
    padding: 15px;
}

a.jqplot-image-container-close {
    float: right;
}

div.example-plot {
  width: 500px;
  height: 300px;
}

.jqplot-table-legend-label {
  white-space: nowrap;
}

div.syntaxhighlighter {
  margin-top: 4em !important;
  margin-bottom: 3em !important;
}*/